/* components/Home/Home.css */

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0C0C0C;
  padding: 2rem;
}

.text-animation-container {
  margin-bottom: 3rem;
}


@media (max-width: 768px) {
  .home {
    padding: 1rem;
  }
  
  .text-animation-container {
    margin-bottom: 2rem;
  }
  
  .split-text-section {
    padding: 0.5rem;
  }
}